<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} &middot; Jobsite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='toggle-password.js') }}"></script>
    <script src="{{ url_for('static', filename='record.js') }}"></script>
</body>
</html>
